
body {
  background-color: #0A1F26;
  margin: 0px 8px;
}


#webcli-ui input {
  background-color: transparent;
  width: 400px;
}
#sugg {
  position: fixed;
  bottom: 9px;
  opacity: 0.5;
  color: black;
  top: 2px;
}
#suggs {
  float:right;
}
#webcli-ui input, #sugg, #suggs {
  line-height: 14px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font: normal 14px Arial;
  color:white;
}
